* {
    margin: 0;
    padding: 0;
    background-position: center;
}
body {
    font-family: 'Mulish', sans-serif;
    background-color: white;
    height: 100vh;
}


.toprectangle {
    width: 620px;
    height: 35px;
    position: absolute;
    margin-left: 300px;
    margin-top: 110px;
    background: white;
    border: 1px solid #C6C6C6;
    position: absolute;

}

.bullets {
    margin-left: 550px;
    position: relative;
    color: #C6C6C6;
}
.leftimg{
    width: auto;
    height: 439px;
    margin-left: -385px;
    top: -43px;
    position: absolute;

}

.rightimg {
    width: auto;
    height: 439px;
    margin-left: 320px;
    top: -43px;
    position: absolute;
}

.title {
    position: absolute;
    height: 90px;
    width: auto;
    margin-left: -250px;
}

.gif {
    position: absolute;
    height: 125px;
    width: auto;
    left: 750px;
    top: 375px;
}

.section1 {
    width: 600px;
    height: 375px;
    background: white;
    text-align: center;
    border: 1px solid #C6C6C6;
    padding: 10px;
    margin-left: 300px;
    margin-top: 150px;
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    margin-left:-225px;
    top: 100px;
}

.clicked-colour {
    background-color: #F4D1CC;
    color: #fff;
    padding: 12px 35px;
    margin: 0 0 60px 0;
    transition: 0.7s ease-in;
    opacity: 0;
}

.clicked-colour.active {
    opacity: 1;
}

.clicked-colour h5 {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.2px;
}

.colour-header {
    padding-bottom: 50px;
}

.colour-palette-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.colour-value {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 110px;
    width: 75px;
    padding: 10px;
    margin: 10px;
    transition: transform 0.2s ease-in;
    cursor: pointer;
}


.colour-value.success {
    background-color: #fff;
    transform: rotateY(360deg) translateY(-10px);
    transition: transform 0.5s linear;
    transition: transform 0.2s ease-in;
}

.colour-value.colour-value.success .colour-value-text {
    color: #161C2F;
}

.colour {
    height: 100%;
    width: 100%;
}

.colour-value-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 5px 0 ;
    color: #898D97;
    font-size:13px;
}

.colour-value-text.clicked {
    color: #161C2F;
}

.generate-colour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    padding: 15px 20px;
    width: 100%;
    color: #fff;
    background-color: #F4D1CC;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.btn:focus {
    outline: none;
}

.instructions {
    background-color: #fff;
    color: #A9A9A9;
    font-size: 12px;
    padding: 10px;
    border-radius: 50px;
}


@media (max-width: 889px) {

    .clicked-colour {
        margin-bottom: 20px;
    }
    .btn-secondary-text {
        margin-bottom: 20px;
    }
}



